@import '../../../App.scss';

$bkgColor: #eee;

.contacts-card {
  background-color: $bkgColor;
  $fzLarge: 32px;

  .container {
    padding: 30px 0;
    display: flex;

    .col {
      text-align: left;

      .title {
        font-size: $fzLarge;
      }

      .contacts,
      .description {
        margin: 25px 0;
        .contact-item:nth-child(2) {
          margin: 7px 0;
        }
      }
    }
  }
}

@media screen and (max-width: 974px) {
  .contacts-card {
    .container {
      flex-direction: column;
    }
    
    .col:nth-child(2) {
      margin-top: 50px;
    }
  }
}
