$fontFamilyCustom: 'Ultra', serif;
.OceanBarText {
  font-family: $fontFamilyCustom !important;
  font-size: 80px !important;
  color: white;
  margin-left: 106px;
  margin-right: 60px !important;
}

@media all and (max-width: 550px) {
  .OceanBarText {
    margin: 0 auto;
  }
}

