.book-a-table {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  height: 500px;
  margin: 0 auto;
  box-shadow: 8px 12px 5px   #eeeeee, -8px  0 0.6em  #eeeeee;
  position: relative;
}
.bookTable{
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.order-form{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  width: 500px;
}

.form-item{
  height: 50px;
}

.order-button-container{
  margin-top: 50px;
}
.order-button {
  background-color: #ff9e05;
  color: #ffffff;
  width: 300px;
  height: 60px;
  border: none;
}

