$mainColor: #ff9e05;

.details-block {
  min-width: 990px;
  margin: 30px 0;
  box-shadow: 0px 12px 40px rgba(96, 96, 96, 0.16);
  padding: 25px;
  text-align: left;
  .details-title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
  }
}

.details-border {
  margin: 2rem 7rem;
  padding: 1rem;
  background: #ffffff;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.details-item {
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;
  padding: 10px 35px;
  font-size: 20px;
  .details-item-block {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .details-img > img{
    width: 8rem;
    height: 8rem;
  }
  .details-dish-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 3rem;
    width: 55rem;
    .details-name {
      text-align: left;
      font-weight: bold;
    }
    a {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
  }
  .details-counter {
    margin: 0 6rem;
    font-weight: bold;
    width: 10rem;
    height: 9rem;
  }
  .details-sum {
    width: 60rem;
  }
}

.details-header {
  width: 20rem;
  span {
    font-style: italic;
    text-align: center;
  }
}
.detail-header-name {
  width: 30rem;
}

.details-devider {
  height: 2px;
  border-width: 0;
  color: gray;
  background-color: gray;
  margin: 1rem 1rem;
  opacity: 0.25;
}

.details-ordertype-block {
  margin: 30px 0;
  font-size: 1.5rem;
}

.order-type-header {
  text-align: right;
  text-transform: uppercase;
  font-weight: bold;
  color: $mainColor;
}

.order-type-total {
  font-size: 2rem;
  font-weight: bold;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.details-payment {
  margin-top: 50px;
  font-size: 2rem;
}
.text {
  font-size: 1.5rem;
  padding-top: 6px;
}


.btn-outline-warning {
  &:active {
    background-color: $mainColor;
  }
}

.cards-block {
  margin: 0 auto;
  width: 835px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.choose-cards-select {
  display: flex;
  width: 36rem;
}
.add-btn {
  font-size: 18px;
  width: 224px;
  height: inherit;
  margin-left: 10px;
}

.online-payment {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 1rem;
}

.new-card {
  background-color: #fff;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 5px;
}






