@import '../../../App.scss';

$bkgColor: #212529;
$fontColor: #fff;
$fontWeight: 300;
$fzMedium: 14px;
$fzLarge: 32px;

.footer {
  font-family: $fontFamilyMain;
  font-weight: $fontWeight;
  font-size: $fzMedium;
  background-color: $bkgColor;
  color: $fontColor;
  text-align: left;

  .container {
    padding: 50px 0;

    .footer-row {
      .title {
        font-size: $fzLarge;
        font-family: $fontFamilyCustom;
      }
      .links {
        margin: 25px 0;
        display: flex;
        span {
          margin-right: 25px;
        }
      }
    }
    
    .footer-row:nth-child(1) {
      margin-bottom: 25px;
    }
  }
}

@media screen and (max-width: 1194px) {
  .footer-row {
    .links {
      .links-col {
        display: flex;
        flex-direction: column;
        width: 50%;
      }
    }
  }
}
