.autocomplete_delivery {
  position: absolute;
  top: 100%;
  left: 10px;
  margin-top: 0.125rem;
  background-color: #fff;
  width: 97%;
  padding: 0.5rem 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  z-index: 10;
  max-height: 180px;
  overflow: auto;
}

.autocomplete-warn {
  padding: 50px 10px;
  font-size: 1rem;
  color: gray;
}

.autocomplete__item_delivery {
  cursor: pointer;
  padding-left: 10px;
}

.autocomplete__item_delivery:hover {
  background: rgba(0, 0, 0, 0.15);
  transition: cubic-bezier(1, 0.82, 0.165, 1) 0.3s all;
}

.streetLi {
  list-style-type: none
  }

.streetLi li:hover {
   color: #0078BF;
   cursor: pointer;
  }

