@import '~bootstrap/scss/bootstrap';

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.App-header {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.menu-text-main-page {
  color: #ff9e05;
}

.OceanBarHeader {
  background-color: #eee;
  padding: 40px;
}
.menu-btn {
  margin-top: 20px;
}
.HowItWorks {
  text-align: center;
  margin-top: 20px;
}
.howItWorks-info {
  color: #979797;
}
.steps {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
}
.step {
  font-size: 40px;
  color: #ff9e05;
}
.hint {
  font-size: 13px;
}
.book-a-table {
  //display: flex;
  border-color: #ff9e05;
  border-style: solid;
  padding: 10px;
  text-align: center;
  width: 430px;
  margin: 0 auto;
}

.time-date {
  display: flex;
  justify-content: space-around;
}


// common styles
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');

$fontFamilyMain: 'Ubuntu', sans-serif;
$fontFamilyCustom: 'Ultra', serif;
$fzMedium: 14px;

body {
  font-family: $fontFamilyMain;
  font-size: $fzMedium;
}
