@import "~bootstrap/scss/bootstrap";

.App {
  text-align: center;
}
.menu-text-main-page{
  color: #ff9e05
}
.OceanBarHeader{
  background-color: #eee;
  padding: 40px;
}
.menu-btn{
  margin-top: 20px;
}
.HowItWorks{
  text-align: center;
  margin-top: 20px;
}
.howItWorks-info{
  color: #979797;
}
.steps{
  display: flex;
  list-style-type:none;
  justify-content: space-evenly;
}
.step{
  font-size: 40px;
  color: #ff9e05;
}
.hint{
  font-size: 13px;
}
.book-a-table{
  //display: flex;
  border-color: #ff9e05;
  border-style: solid;
  padding: 10px;
  text-align: center;
  width: 430px;
  margin: 0 auto;
}

.time-date{
  display: flex;
  justify-content: space-around;
}


