@import "~bootstrap/scss/bootstrap";

.App {
  text-align: center;
}

.menu-text-main-page {
  color: #ffc13b
}

.OceanBarHeader {
  background-color: #eee;
  padding: 40px;
}

.menu-btn {
  margin-top: 20px;
}

.HowItWorks {
  text-align: center;
  margin-top: 20px;
}

.howItWorks-info {
  color: #979797;
}

.steps {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
}

.step {
  font-size: 40px;
  gap: 5%;
  color: #ffc13b
}

.hint {
  font-size: 13px;
}

.book-a-table {
  color: #ffc13b;
  border-style: solid;
  padding: 10px;
  text-align: center;
  width: 430px;
  margin: 0 auto;
}

.time-date {
  display: flex;
  justify-content: space-around;
}
