.navbar-brand-mr {
  font-size: 32px;
  font-weight: 700;
  margin-left: 106px;
  margin-right: 60px;
}

.nav-link-mr {
  margin-right: 40px;
  font-size: 22px;
  font-weight: 300;
}

.svg-inline--fa.fa-w-18-24 {
  width: 24px;
}
.icon-height {
  width: 1.5em;
  height: 1.5em;
  margin-right: 1.5em;
}

.nav-link-icon {
  padding: 0.5rem 0.5rem;
}

input:not(:placeholder-shown) {
  background-color: #ffffff;
  border: transparent;
  border-bottom: 1px solid #fff;
}

input:placeholder-shown {
  background-color: #212529;
  border-radius: 0;
  border: transparent;
  border-bottom: 1px solid #fff;
}
