.navbar-brand-mr {
  font-size: 32px;
  font-weight: 700;
  margin-left: 106px;
  margin-right: 60px;
}

.nav-link-mr {
  margin-right: 40px;
  font-size: 22px;
  font-weight: 300;
}

.svg-inline--fa.fa-w-18-24 {
  width: 24px;
}
.icon-height {
  width: 1.5em;
  height: 1.5em;
  margin-right: 1.5em;
}

.nav-link-icon {
  padding: 0.5rem 0.5rem;
}

.nav-input:not(:placeholder-shown) {
  background-color: #ffffff;
  border: transparent;
  border-bottom: 1px solid #fff;
  border-color: transparent;
}

.nav-input:placeholder-shown {
  background-color: #212529;
  border-radius: 0;
  border: transparent;
  border-bottom: 1px solid #fff;
}
.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #fff;
  outline: 0;
  box-shadow: 0;
}

.btn-input {
  position: absolute;
  right: 0;
  font-size: 24px;
  padding: 0;
}

.d-flex-pos {
  position: relative;
}

.form-control-pad {
  padding: 0.25rem;
}
