$fontFamilyCustom: 'Ultra', serif;

.navbar-fixed {
  width: 100vw;
  z-index: 100;
  height: 80px;
}

.navbar-brand-mr {
  font-family: $fontFamilyCustom !important;
  font-size: 32px !important;
  font-weight: 700;
  margin-left: 106px;
  margin-right: 60px !important;
  font-weight: 300 !important;
}

.nav-link-mr {
  margin-right: 40px;
  font-size: 22px;
  font-weight: 300;
}

.svg-inline--fa.fa-w-18-24 {
  width: 24px;
}
.icon-height {
  top: 0;
  margin-right: 1.3em;
  font-size: 1.8em;
  color: #fff;
  padding-bottom: 10px;
}

.user-signedin {
  color: orange;
}

.search-icon {
  font-size: 26px;
  margin-right: -8px;
  padding-right: 0;
}

.nav-link-icon {
  padding: 0.5rem 0.2rem;
}

.dropdown-menu.show {
  right: 24px !important;
}

.dropdown-toggle::after {
  display: none !important;
}

.nav-input:not(:placeholder-shown) {
  background-color: #ffffff;
  border: transparent;
  border-bottom: 1px solid #fff;
  border-color: transparent;
}

.nav-input:placeholder-shown {
  width: 280px;
  background-color: #212529;
  border-radius: 0;
  border: transparent;
  border-bottom: 1px solid #fff;
  margin-bottom: 10px;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #fff;
  outline: 0;
  box-shadow: 0;
}

.btn-input {
  position: absolute;
  left: 225px;
  font-size: 24px;
}

.d-flex-pos {
  position: relative;
}

.form-control-pad {
  padding: 0.25rem;
  margin-right: 45px;
}

.show {
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
  text-align: start;
}

@media all and (max-width: 550px) {
  .navbar-brand-mr {
    margin-left: 20px;
    margin-right: 60px !important;
  }
}
