.img-title {
  margin: 20px;
}
// .main-dish{
//   margin-bottom: 140px;
//   margin-left: 120px;
//   margin-top: 40px;
// }

.title-dish {
  // background-color: #ff9e05;
  display: flex;
  margin-top: 35px;
}

.image-dish {
  margin-top: 10px;
  height: 500px;
  width: 800px;
  margin-left: -30px;
}

// .image {
//   height: 500px;
//   width: 800px;
// }

i {
  position: relative;
  top: 45%;
}

i:hover {
  cursor: pointer;
}

.arrow {
  font-size: 2rem;
}

.ingredients {
  display: flex;
  text-align: left;
  margin-left: 40px;
  flex-direction: column;
  line-height: 0.5;
}

.changing{
  margin-bottom: 30px;
}

.changing-shifting{
  margin-top: 47px;
}

.composition {
  font-size: 30px;
  font-weight: 480;
}

// .compositionshifting {
//   font-size: 30px;
//   font-weight: 480;
//   padding-top: 100px;
// }

.change-ingr {
  margin-left: 10px;
  color: #ff9e05;
  cursor: pointer;
}

.order-btn-dish{
  margin-top: 15%;
  margin-left: 10px;
  height: 60px;
  width: 100%;
  background-color: #ff9e05;
  color: white;
  font-size: 30px;
  border:none;
}

.order-btn-ingredients{
  margin-top: 9%;
  margin-left: 20%;
  height: 30px;
  width:100px;
  background-color: #ff9e05;
  color: white;
  font-size: 20px;
  border:none;
}

// .may-be-intresting{
//   margin-top: 150px;
//   text-align: left;
// }

  .line-dish {
  margin-top: 50px; 
  border-bottom: 1px solid gray; 
 }


