
a:hover{
  cursor: pointer;
}

  .menuLinkStyles{
    text-decoration: none;
    color: #000000;
    font-size: 15px;
  }

  .menuLinkStylesActive{
    text-decoration: none;
    color: #ff9e05;
    font-size: 15px;
  }

.cont{
  display: flex;
}
.row{
  justify-content: center;
  border-color: #606060;
}
