/* .activeLink{
  color: red;
  text-decoration: none;
}

.pasiveLink{
  color: greenyellow;
  text-decoration: none
}

.linkStyle{
  text-decoration: none;
  color: #8b908c;

} */

.link{
  text-decoration: none;
  color: #8b908c;
}